<section id="clients" class="gallery">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Our Clients</h2>
          <p>Supported & Recognised By</p>
        </div>

        <div class="row no-gutters" data-aos="fade-left">

          <div class="col-lg-4 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="200">
              <a href="assets/img/clients/1.png" class="venobox" data-gall="gallery-item">
                <img src="assets/img/clients/1.png" alt="" class="img-fluid" style="max-width: 70%;">
              </a>
            </div>
          </div>


          <div class="col-lg-4 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="450">
              <a href="assets/img/clients/2.png" class="venobox" data-gall="gallery-item">
                <img src="assets/img/clients/2.png" alt="" class="img-fluid" style="max-width: 70%;">
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="200">
              <a href="assets/img/clients/1.png" class="venobox" data-gall="gallery-item">
                <img src="assets/img/clients/3.png" alt="" class="img-fluid" style="max-width: 70%;">
              </a>
            </div>
          </div>


        </div>
        
    </div>
    </section> <!-- ===== end of supported section =====-->    