<!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
            <a href="https://www.youtube.com/watch?v=tDylLTbIlLg&feature=youtu.be" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
            <h3>Virtual Platform to connect together</h3>
            <p>As we all know due to COVID-19, the various sectors that have been forced to switch to work from home (Remote work) and may be further prefer this working arrangement after normal life continues again. Now, a significant number of enterprises rely on video conferencing solutions. Since Meetings have always been essential to business, school, college, university and government work. Acupace Technologies has developed a simple, powerful, scalable service <strong>acuMeet</strong> that gets out of your way and lets you get to work. Using <strong>acuMeet</strong> you can host/attend online meetings, voice and video chat, along with join conferences, seminars and other video meeting services.</p>
            <p>Our application is developed to enable long-distance or international communication, enhance collaboration, and reduce travel costs. We provide quick, approachable service while processing the request and make it easy for our users within the time mentioned. Our goal is to help our users to get an easy, flexible, affordably, and time-saving application system. </p>
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <!--<h4 class="title"><a href="">Lorem Ipsum</a></h4>-->
              <p class="description">Meetings and chat with HD video, audio, collaboration, screen sharing, recording, smiles and screen lock facilities</p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <!--<h4 class="title"><a href="">Nemo Enim</a></h4>-->
              <p class="description">Webinars/online classes</p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <!--<h4 class="title"><a href="">Dine Pad</a></h4>-->
              <p class="description">App Integrations for more user friendly system and application on mobile </p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->
