 <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="owl-carousel testimonials-carousel" data-aos="zoom-in">

          <div class="testimonial-item">
            <img src="assets/img/team/1.jpg" class="testimonial-img" alt="">
            <h3>Sumit Kumar</h3>
            <h4>Ceo &amp; Founder</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <!--<div class="testimonial-item">
            <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
            <h3>Sara Wilsson</h3>
            <h4>Designer</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
            <h3>Jena Karlis</h3>
            <h4>Store Owner</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
            <h3>Matt Brandon</h3>
            <h4>Freelancer</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
            <h3>John Larson</h3>
            <h4>Entrepreneur</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>-->

        </div>

      </div>
    </section><!-- End Testimonials Section -->


    

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p>Our Great Team</p>
        </div>

        <div class="row" data-aos="fade-left">

          <div class="col-lg-4 col-md-4">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="assets/img/team/1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sumit Kumar</h4>
                <span>Serial Entrepreneur,Founder & CEO Acupace Technologies Pvt Ltd</span>
                <span><strong>acupace@gmail.com</strong></span>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/sumities"><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/sumit-kumar-762312177/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mt-5 mt-md-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Vishal Kumar</h4>
                <span>Co-Founder & CTO Acupace Technologies Pvt Ltd</span>
                <span><strong>vishal.cool68@gmail.com</strong></span>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/Vishalkumar68"><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="assets/img/team/3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dr. Abhilasha Panwar</h4>
                <span>Project Leader, PhD IIT Delhi</span>
                <span><strong>Abhiniti29@gmail.com</strong></span>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/abhilasha.panwar.3"><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/abhilasha-panwar-40508674"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <br> 
        <div class="row" data-aos="fade-left">

          <div class="col-lg-3 col-md-4">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="assets/img/team/15.jpeg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Smita Sharma</h4>
                <span>Program Manager</span>
                <!--<span><strong>ansh.agrawal.che17@itbhu.ac.in</strong></span>-->
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="assets/img/team/14.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Kunal Kumar</h4>
                <span>Manager</span>
                <!--<span><strong>ansh.agrawal.che17@itbhu.ac.in</strong></span>-->
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>	
	

          <div class="col-lg-3 col-md-4">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="assets/img/team/4.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Ansh Agrawal</h4>
                <span>Web developer Undergraduate, IIT BHU</span>
                <!--<span><strong>ansh.agrawal.che17@itbhu.ac.in</strong></span>-->
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/ansh.agrawal.315"><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 mt-5 mt-md-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/5.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>K Shimon Nabiel Martin</h4>
                <span>App Developer,Undergraduate IIT BHU</span>
                <!--<span><strong>ksnabielmartin.mec18@itbhu.ac.in</strong></span>-->
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/karyamsetty-shimon-nabiel-martin-1139b4185/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 mt-5 mt-md-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/6.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Manvendra Singh</h4>
                <span>Web Developer,Undergraduate IIT BHU</span>
                <!--<span><strong>manvendra.singh.che17@itbhu.ac.in</strong></span>-->
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/manvendra.singh.7946"><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/manvendra09/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 mt-5 mt-md-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/7.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Ashish Rajaram Torane</h4>
                <span>App Developer,Undergraduate IIT BHU</span>
                <!--<span><strong>ashishrtorane.civ18@itbhu.ac.in</strong></span>-->
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/ashish.torane.9"><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/ashish-torane-9b22821a1/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 mt-5 mt-md-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/8.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Atul Anand</h4>
                <span>App Developer, Undergraduate IESCT Bhopal</span>
                <!--<span><strong>atul.anand1811@gmail.com</strong></span>-->
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/profile.php?id=100004215523611"><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/atul-anand-1681151a1"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 mt-5 mt-md-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/9.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Gomati Goswami</h4>
                <span>Content & Graphics, Undergraduate IITBHU</span>
                <!--<span><strong>gomati.goswami.apd19@itbhu.ac.in</strong></span>-->
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/profile.php?id=100011696792362"><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/gomati-goswami-52520b195"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 mt-5 mt-md-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/13.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Abhijit dwivedi</h4>
                <span>App Developer,Undergraduate IESCT Bhopal</span>
                <!--<span><strong>abhi.rewa.d1998@gmail.com</strong></span>-->
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/abhijit.dwivedi.77"><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/abhijit-dwivedi-03432b17a"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 mt-5 mt-md-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/10.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sumit Kumar</h4>
                <span>Web Developer, Undergraduate IITBHU</span>
                <!--<span><strong>sumitkr.student.met17@itbhu.ac.in</strong></span>-->
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/sumit.saraff.7"><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/sumit-kumar-50994814a/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 mt-5 mt-md-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/11.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Lalnee Singh Rajput</h4>
                <span>Web Developer,Undergraduate IESCT Bhopal</span>
                <!--<span><strong>rajput.lalnee@gmail.com</strong></span>-->
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/lalnee.singh"><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/lalnee-singh-rajput-b0bbb518a"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 mt-5 mt-md-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/12.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Ayush Sahu</h4>
                <span>Web Developer,Undergraduate IESCT Bhopal</span>
                <!--<span><strong>ayushsahu031@gmail.com</strong></span>-->
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/lalnee.singh"><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/lalnee-singh-rajput-b0bbb518a"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

      </div>




      </div>
    </section><!-- End Team Section -->