    <!-- ======= Details Section ======= -->
    <section id="details" class="details">
      <div class="container">

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="assets/img/details/details-3.jpg" class="img-fluid" alt="" id="content_img">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>Banking and Finance</h3>
            <p class="font-italic">
              Whether working with internal banking colleagues, advising external clients, or training a team, video conferencing removes the burden of traveling by :

            </p>
            <ul>
              <li><i class="icofont-check"></i> enhancing client service</li>
              <li><i class="icofont-check"></i> reducing the travel burden</li>
              <li><i class="icofont-check"></i> offer more services to remote customers</li>
              
            </ul>
           
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src="assets/img/details/details-2.jpg" class="img-fluid" alt="" id="content_img">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>Education</h3>
            <p class="font-italic">
              It will help in bringing the world to your classroom more simply and cost effectively than you’d imagine like :  
            </p>
            <ul>
              <li><i class="icofont-check"></i> easy-to-use</li>
              <li><i class="icofont-check"></i> web-based connectivity</li>
              <li><i class="icofont-check"></i> enhance the course curriculum with video</li>
              <li><i class="icofont-check"></i>one-click live streaming and recording.</li>
              
            </ul>
            
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="assets/img/details/details-1.jpg" class="img-fluid" alt="" id="content_img">
          </div>
          <div class="col-md-8 pt-5" data-aos="fade-up">
            <h3>Government and Public Sector</h3>
            <p>Provides a cost-efficient way to extend the reach of your programs while delivering an authentic way to stay connected with your teams and partners. </p>
            <ul>
              <li><i class="icofont-check"></i> Helps in building authentic relationships</li>
              <li><i class="icofont-check"></i> extend your message to larger audiences</li>
              <!--<li><i class="icofont-check"></i> reduce unnecessary and expensive travel</li>-->
            </ul>
            

          </div>
        </div>

        <div class="row content">
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src="assets/img/details/details-4.png" class="img-fluid" alt="" id="content_img">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>Health Care</h3>
            <p class="font-italic">
              Video conferencing technology enables health care providers and support staff a way to collaborate across distances, creating greater efficiencies and a sharper focus on patient care.
            </p>
            <ul>
              <li><i class="icofont-check"></i>Extend patient care with better video</li>
              <li><i class="icofont-check"></i> enable remote collaboration</li>
              <li><i class="icofont-check"></i> accelerate decision making</li>
            </ul>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="assets/img/details/details-5.png" class="img-fluid" alt="" id="content_img">
          </div>
          <div class="col-md-8 pt-5" data-aos="fade-up">
            <h3>Media and Entertainment</h3>
            <p>Keep collaboration moving as simply and as cost-effectively as possible so you can complete and promote your latest project without adding travel to an already packed schedule, share your ideas with better quality, make better decisions, faster, broaden the reach of your projects </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src="assets/img/details/details-6.png" class="img-fluid" alt="" id="content_img">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>Oil, Gas, and Energy</h3>
            <p class="font-italic">
              Whether you are trying to cost-effectively communicate with workers in the field or manage teams through crisis conditions, seamless collaboration is a necessity, ensure remote accessibility, manage critical responses,  streamline operations and training.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Details Section -->

    
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Gallery</h2>
          <p>Check our Gallery</p>
        </div>

        <div class="row no-gutters" data-aos="fade-left">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="100">
              <a href="assets/img/gallery/1.jpeg" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/1.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="100">
              <a href="assets/img/gallery/12.jpeg" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/12.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="150">
              <a href="assets/img/gallery/2.jpeg" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/2.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="250">
              <a href="assets/img/gallery/4.jpeg" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/4.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="250">
              <a href="assets/img/gallery/3.jpg" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="300">
              <a href="assets/img/gallery/5.jpeg" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/5.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="350">
              <a href="assets/img/gallery/6.jpg" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/6.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="400">
              <a href="assets/img/gallery/7.jpeg" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/7.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="450">
              <a href="assets/img/gallery/8.jpg" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/8.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="450">
              <a href="assets/img/gallery/10.png" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/10.png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="450">
              <a href="assets/img/gallery/11.png" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/11.png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->


    